
<div class="container">

	<div class="page-header">
		<h1><code>app</code> module</h1>
		<h4>A <strong>main process</strong> api responsible for controlling the application's lifecycle.</h4>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">example</div>
		<div class="panel-body">
<pre>var app = require('app');
app.on('window-all-closed', function() {
  app.quit();
});</pre>
		</div>
	</div>

	<div class="panel panel-success">
		<div class="panel-heading">Events</div>
		<ul class="list-group">
			<li class="list-group-item"><code>'will-finish-launching'</code></li>
			<li class="list-group-item"><code>'ready'</code></li>
			<li class="list-group-item"><code>'window-all-closed'</code></li>
			<li class="list-group-item"><code>'before-quit'</code></li>
			<li class="list-group-item"><code>'will-quit'</code></li>
			<li class="list-group-item"><code>'open-file'</code></li>
			<li class="list-group-item"><code>'open-url'</code></li>
			<li class="list-group-item"><code>'activate'</code></li>
			<li class="list-group-item"><code>'browser-window-blur'</code></li>
			<li class="list-group-item"><code>'browser-window-focus'</code></li>
			<li class="list-group-item"><code>'browser-window-created'</code></li>
			<li class="list-group-item"><code>'select-certificate'</code></li>
			<li class="list-group-item"><code>'gpu-process-crashed'</code></li>
		</ul>
	</div>

	<div class="panel panel-success">
		<div class="panel-heading">Methods</div>
		<ul class="list-group">
			<li class="list-group-item"><code>app.quit()</code></li>
			<li class="list-group-item"><code>app.getAppPath()</code></li>
			<li class="list-group-item"><code>app.getPath(name)</code></li>
			<li class="list-group-item"><code>app.setPath(name)</code></li>
			<li class="list-group-item"><code>app.getVersion()</code></li>
			<li class="list-group-item"><code>app.getName()</code></li>
			<li class="list-group-item"><code>app.getLocale()</code></li>
			<li class="list-group-item"><code>app.resolveProxy(url, callback)</code></li>
			<li class="list-group-item"><code>app.addRecentDocument(path)</code></li>
			<li class="list-group-item"><code>app.clearRecentDocuments()</code></li>
			<li class="list-group-item"><code>app.setUserTasks(tasks)</code></li>
			<li class="list-group-item"><code>app.commandLine.appendSwitch(switch[, value])</code></li>
			<li class="list-group-item"><code>app.commandLine.appendArgument(value)</code></li>
			<li class="list-group-item"><code>app.dock.bounce([type])</code></li>
			<li class="list-group-item"><code>app.dock.cancelBounce(id)</code></li>
			<li class="list-group-item"><code>app.dock.setBadge(text)</code></li>
			<li class="list-group-item"><code>app.dock.getBadge()</code></li>
			<li class="list-group-item"><code>app.dock.hide()</code></li>
			<li class="list-group-item"><code>app.dock.show()</code></li>
			<li class="list-group-item"><code>app.dock.setMenu(menu)</code></li>
		</ul>
	</div>

</div>