<div id="carousel-example-generic" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		<li data-target="#carousel-example-generic" data-slide-to="3"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">

		<div class="item active">
			<div class="container center-block">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<a class="electron-word" href="#">Electron</a>
						<div class="caption">
							<h3>Build cross platform desktop apps with web technologies</h3>
							<p>Formerly known as Atom Shell. Made with <span class="mega-octicon octicon-heart"></span> by <a href="">GitHub</a>.</p>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<img src="images/browser.png">
						<div class="caption">
							<h1>Web Tech</h1>
							<p>Use HTML, CSS, and JavaScript with Chromium and Node.js to build your app.</p>
						</div>
						<div class="container">
							<img src="images/chromium-logo.png">
							<span class="glyphicon glyphicon-plus"></span> 
							<img src="images/nodejs-logo.png">
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<img src="images/fork.png">
						<div class="caption">
							<h1>Open Source</h1>
							<p>Electron is open source; maintained by GitHub and an active community.</p>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<img src="images/os-box.png">
						<div class="caption">
							<h1>Cross Platform</h1>
							<p>Electron apps build and run on Mac, Windows, and Linux.</p>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>

	</div>

	<!-- Controls -->
	<a class="left carousel-control" role="button" ng-click="prev()">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" role="button" ng-click="next()">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>

</div>