
<div class="container">

	<div class="page-header">
	  <h1>Electron Setup <small>dependencies</small></h1>
	</div>
			
	<div class="media">
		<div class="media-left">
			<img class="media-object" src="images/gitscm-logo.png">
		</div>
		<div class="media-body">
			<h1 class="media-heading">Git-scm</h1>
			<h4><a href="">http://www.git-scm.com/</a></h4>
			<p>Highly recommended. Necessary for submitting patches and fixes and working with electron and node.js code. It is also an excellent way to get a good bash shell on Windows.</p>
		</div>
	</div>

	<div class="media">
		<div class="media-left">
			<img class="media-object" src="images/nodejs-logo.png">
		</div>
		<div class="media-body">
			<h1 class="media-heading">node.js</h1>
			<h4><a href="">http://nodejs.org</a></h4>
			<p>This is needed to get and drive electron, as well as obtain modules and drive tools and tests.</p>
		</div>
	</div>

	<div class="media">
		<div class="media-left">
			<img class="media-object" src="images/python-logo.png">
		</div>
		<div class="media-body">
			<h1 class="media-heading">python 2.7 <small>(specifically this version)</small></h1>
			<h4><a href="">http://python.org</a></h4>
			<p>This is needed to build native addons on all platforms.</p>
		</div>
	</div>

	<div class="media">
		<div class="media-left">
			<img class="media-object" src="images/vs-logo-small.png">
		</div>
		<div class="media-body">
			<h1 class="media-heading">Visual Studio <small>(community edition is free)</small></h1>
			<h4><a href="">https://www.visualstudio.com</a></h4>
			<p>This is needed to build native modules on <strong>Windows only</strong>.</p>
		</div>
	</div>

</div>